<!-- <div class="container" *ngFor="let restaurant of restaurantList">
    <mat-card class="policy-card">
        <mat-card-content style="overflow-x: auto; overflow-x: hidden; width: 100%;">
            <div class="hero-image">
                <img [src]='restaurant.backgroundImageURL'>
            </div>
            <div class="bottom-left">{{restaurant.name}}</div> 
        </mat-card-content>
    </mat-card>
</div> -->

<div class="container" *ngFor="let restaurant of restaurantList">
    <div class="hero-image">
        <img [src]='restaurant.backgroundImageURL'>
    </div>
    <div class="restaurant-name">{{restaurant.name}}</div> 
    <div class="restaurant-category">{{restaurant.category}}</div> 
</div>