<div class="restaurant-container">
    <div class="item" *ngFor="let restaurant of restaurantList">
        <mat-card>
            <div (click)="viewDetails(restaurant)">
                    <div class="restaurant-image">
                            <img [src]='restaurant.backgroundImageURL'>
                    </div>
                <div class="restaurant-name">{{restaurant.name}}</div>
                <div class="restaurant-category">{{restaurant.category}}</div>
            </div>
        </mat-card>
    </div>
</div>

