<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer 
    class="sidenav" 
    mode="side" 
    [(opened)]="opened" 
    (opened)="events.push('open!')" 
    (closed)="events.push('close!')">
    <mat-toolbar color="primary" id=#maintoolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">arrow_back_ios</mat-icon>
      </button>
      <span class="toolbar-filler"></span>
      <span>Lunch Tyme</span>
      <span class="toolbar-filler"></span>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">map</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Restarant Map & Details  -->
    <div class="details-container" *ngIf="displayDetails == true">
      <agm-map 
        #gm 
        style="position: absolute;"         
        [style.left.px]="0" 
        [style.top.px]="0" 
        [style.height.px]="mapHeight" 
        [style.width.px]="width"
        [zoom]="17" 
        [latitude]="restaurant.location.lat" 
        [longitude]="restaurant.location.lng">
        <div class="item" *ngFor="let restaurant of restaurantList">
          <agm-marker 
            (mouseOver)="onMouseOver(infoWindow, gm)" 
            (markerClick)="viewDetails(restaurant)" 
            [latitude]="restaurant.location.lat"
            [longitude]="restaurant.location.lng">
            <agm-info-window #infoWindow>
              <div>
                <a (click)="viewDetails(restaurant)" class="btn btn-attention pull-right">
                  {{restaurant.name}}<br>{{restaurant.category}}
                  <i class="fa fa-angle-double-right"></i>
                </a>
              </div>
            </agm-info-window>
          </agm-marker>
        </div>
      </agm-map>
      <mat-card 
        id="restaurant-details" 
        style="position: absolute;" 
        [style.left.px]="0" 
        [style.height.px]="detailsHeight" 
        [style.top.px]="detailsTop"
        [style.width.px]="width">
        <mat-card-header>
          <mat-card-title>
            {{ restaurant.name }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ restaurant.category }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="padding-top: 8px; padding-left: 6px;">
            {{ restaurant.location.formattedAddress[0] }} <br> {{ restaurant.location.formattedAddress[1] }}
          </div>
          <div style="padding-top: 19px; padding-left: 6px;">
            {{ restaurant.contact.formattedPhone }}            
          </div>
          <div style="padding-top: 19px; padding-left: 6px;"> 
            {{ restaurant.contact.twitter }}
          </div>
          
        </mat-card-content>
      </mat-card>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="toolbar-filler"></span>
      <span>Lunch Tyme</span>
      <span class="toolbar-filler"></span>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">map</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Restarant Map & Details  -->
    <div class="restaurant-container">
      <div class="item" *ngFor="let restaurant of restaurantList">
        <mat-card (click)="drawer.toggle()">
          <div (click)="viewDetails(restaurant)">
            <div class="restaurant-image">
              <img [src]='restaurant.backgroundImageURL'>
            </div>
            <div class="restaurant-name">{{restaurant.name}}</div>
            <div class="restaurant-category">{{restaurant.category}}</div>
          </div>
        </mat-card>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>