  html,body {
    margin: 0;
    padding:0;
  }

  .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 100%;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }
  
  .toolbar-filler {
    flex: 1 1 auto
  }

  .material-icons.md-24 {
    font-size: 24px;
  }


  *, *:before, *:after {
    box-sizing: inherit;
  }

  .details-container {
    position: absolute;
    height: calc(100% - 65px);
    width: 100%;
    top: 65px;    
    overflow: hidden;   
  }

  .restaurant-container {
    position: absolute;
    height: calc(100% - 65px);
    top: 65px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  
  .restaurant-container>div {
    flex: 0 49%;
    box-sizing: border-box;
    align-items: center;
  }
  
  .item {
    width: 100%;
    margin-top: 20px;
  }
  
  img {
    width: 100%;
    margin: auto;
  }
  
  .restaurant-name {
    position: absolute;
    bottom: 24px;
    left: 12px;
    // Lato is the closest free match to Avenir
    font-family: 'Lato', sans-serif; 
    font-size: 20px;
    font-weight: 800;
    color: white;
  }
  
  .restaurant-category {
    position: absolute;
    bottom: 6px;
    left: 12px;
    // Lato is the closest free match to Avenir
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  
  .restaurant-image {
    width: 100%;
    height: 100%;
    margin: auto;
  }
    
  .restaurant-image::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1));
    margin-top: -250px;
    height: 250px;
    width: 100%;
    content: '';
  }
  
  ::ng-deep .mat-card{
    width: 96%;
    padding:0 !important;
  }
  
  ::ng-deep .mat-card-header{
    background-color: #3f51b5 !important;
    padding:5px !important;
    height: 50px;
  }
  
  ::ng-deep .mat-card-content{
    padding:5px !important;
  }
  
  .mat-card-title{
    // Lato is the closest free match to Avenir
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: white; 
  }
  
  .mat-card-subtitle{
    // Lato is the closest free match to Avenir
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;  
  }


  