.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 100%;
    // width: 200px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }
  
  .toolbar-filler {
    flex: 1 1 auto
  }

  .material-icons.md-24 {
    font-size: 24px;
  }


  html,body {
    margin: 0;
    padding:0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .restaurant-container {
    position: absolute;
    height: calc(100% - 65px);
    top: 65px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  
  .restaurant-container>div {
    flex: 0 48%;
    box-sizing:border-box;
    align-items: center;
  }
  
  .item {
    width: 100%;
    margin-top: 20px;
  }
  
  img {
    width: 100%;
    margin: auto;
  }
  
  .restaurant-name {
    position: absolute;
    bottom: 60px;
    left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: 'Trebuchet MS';
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  .restaurant-category {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: 'Trebuchet MS';
    font-size: 16px;
    color: white;
  }
  
  .restaurant-image {
    width: 100%;
    height: 100%;
    margin: auto;
  }
    
  .restaurant-image::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1));
    margin-top: -250px;
    height: 250px;
    width: 100%;
    content: '';
  }
  
  agm-map {
    height: 400px;
  }
  
  ::ng-deep .mat-card{
    width: 96%;
    padding:0 !important;
  }
  
  ::ng-deep .mat-card-header{
    background-color: #3f51b5 !important;
    padding:5px !important;
    height: 50px;
  }
  
  ::ng-deep .mat-card-content{
    padding:5px !important;
  }
  
  .mat-card-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: 'Trebuchet MS';
    font-size: 18px;
    font-weight: bold;
    color: white; 
  }
  
  .mat-card-subtitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: 'Trebuchet MS';
    font-size: 14px;
    color: white;  
  }


  