<mat-sidenav-container 
  class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    mode="side" 
    [(opened)]="opened" 
    (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <mat-toolbar color="primary" id=#maintoolbar>
        <span class="toolbar-filler"></span>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
        </button>
    </mat-toolbar>
    <span class="toolbar-filler"></span>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" routerLink="listdetail">Restaurant List</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="disableSideNav == false"
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      *ngIf="disableSideNav == true"
      (click)="viewList()">
      <mat-icon aria-label="Side nav toggle icon" >arrow_back_ios</mat-icon>
    </button>
      <span>Lunch Tyme</span>
      <span class="toolbar-filler"></span>
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="viewMap()">
      <mat-icon aria-label="Side nav toggle icon">map</mat-icon>
    </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
