<agm-map [zoom]="17" [latitude]="restaurant.location.lat" [longitude]="restaurant.location.lng">
  <agm-marker [latitude]="restaurant.location.lat" [longitude]="restaurant.location.lng">
    <!-- <agm-info-window>Bork</agm-info-window> -->
  </agm-marker>
</agm-map>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ restaurant.name }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ restaurant.category }}
        </mat-card-subtitle>    
    </mat-card-header>
    <mat-card-content style="margin-top: 10px;">
        {{ restaurant.contact.formattedPhone || "No phone listed"}}
    </mat-card-content>
    <mat-card-content>
        {{ restaurant.location.formattedAddress[0] }}<br>
        {{ restaurant.location.formattedAddress[1] }}
    </mat-card-content>    
    <mat-card-content>
        {{ restaurant.contact.twitter }}
    </mat-card-content>    
</mat-card>

