agm-map {
    height: 300px;
  }
  
  
  ::ng-deep .mat-card-header{
    background-color: #3f51b5 !important;
    padding:5px !important;
    height: 50px;
  }
  
  ::ng-deep .mat-card{
    height: 350px;
    padding:0 !important;
  }
  
  ::ng-deep .mat-card-content{
    padding:5px !important;
  }

  .mat-card-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: 'Trebuchet MS';
    font-size: 18px;
    font-weight: bold;
    color: white; 
  }

  .mat-card-subtitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: 'Trebuchet MS';
    font-size: 14px;
    color: white;  
  }
    